{% extends "base.html" %}

{% block content %}

<div class="page-content-inner"></div>
<div><h6 style="color: #0d3c65;"><center>On this website, you can find different tools. <br>You can upload, convert, and OCR your files!</center></h6></div>

<div class="row mx-sm-5 float-md-left" style="display: inline-block;">
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>Upload</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1656081001/Upload_s1793x.png" class="rounded  float-md-left" style="width:100%; border: 5px solid #E57200; display: inline-block;">
</figure>
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>Convert</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1656081001/Convert_y5yzcm.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>OCR</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1656081001/OCR_lxgqqp.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>View Documents</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1656081382/View_Documents_erqorj.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>Download Documents</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1656081389/Download_fawgbm.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
</div>
</div>


<footer>
	<h5 style="color: #0d3c65;"><center>This website was created by Haowen Xu, student at University of Virginia.
	</center></h5>
</footer>




{% endblock %}
