{% extends "base.html" %}

{% block content %}

<body>
<div></div>
<div><h6 style="color: #0d3c65;"><center>On this website, you can find Labeling informatin. <br>You can also add, rename, or delete your own labels!</center></h6></div>

<div class="row mx-sm-5 float-md-left" style="display: inline-block;">
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>Labeling!</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1650303859/labeling_rh2hul.png" class="rounded  float-md-left" style="width:100%; border: 5px solid #E57200; display: inline-block;">
</figure>
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>Submit Your Own Labeling!</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1650156187/submit_labeling_gymi4i.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>View Labeling!</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1650303756/label_detail_vq1dfy.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
</div>
</div>


<head>
  <br><br><br><br><br><br><br><br><br>
	<h5 style="color: #0d3c65;"><center>This website was created by Haowen Xu, student at University of Virginia.
	</center></h5>
</head>


</body><center>


{% endblock %}
