{% extends "base.html" %}
{% block content %}

<div class="page-content-inner">
  <h1 class="page-title"> Convert Documents </h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form.as_p }}

To: <select name="output" id="output">
    <option value="" selected="selected">Please select input first</option>
  </select>
  <br><br>
  <button class="btn btn-primary" type="submit">Convert</button>
</form>

<br><br>
<h5><a href="/">Return to home</a></h5>
</div>
<script>
var InputObject = {
  "csv": ["xlsx", "parquet"],
  "parquet": ["csv"],
	"xlsx": ["parquet"],
  "txt": ["csv", 'xlsx'],
  "xls": ["xlsx"],
  "json": ["csv", 'xlsx'],
}
// window.onload = function() {

  // var InputSel = document.getElementById("id_document");
  //
  //
  // var InputType = InputSel.value.split('.').pop();
  var OutputSel = document.getElementById("output");
	// var ConversionType = (window.location.href.substr(window.location.href.lastIndexOf('/') + 1));

  // for (var x in InputObject) {
  //   InputSel.options[InputSel.options.length] = new Option(x,x);
  // }
	// switch (true) {
	// 	case (ConversionType === "csv2xlsx"): OutputSel.options[OutputSel.options.length] = new Option('xlsx', 'xlsx'); $("#input").val("csv"); $("#output").val("xlsx"); break;
	// 	case (ConversionType === "csv2parquet"): OutputSel.options[OutputSel.options.length] = new Option('parquet', 'parquet'); $("#input").val("csv"); $("#output").val("parquet"); break;
	// 	case (ConversionType === "parquet2csv"): OutputSel.options[OutputSel.options.length] = new Option('csv', 'csv'); $("#input").val("parquet"); $("#output").val("csv"); break;
	// 	case (ConversionType === "xlsx2parquet"): OutputSel.options[OutputSel.options.length] = new Option('parquet', 'parquet'); $("#input").val("xlsx"); $("#output").val("parquet"); break;
	// 	case (ConversionType === "txt2csv"): OutputSel.options[OutputSel.options.length] = new Option('csv', 'csv'); $("#input").val("txt"); $("#output").val("csv"); break;
	// 	case (ConversionType === "txt2xlsx"): OutputSel.options[OutputSel.options.length] = new Option('xlsx', 'xlsx'); $("#input").val("txt"); $("#output").val("xlsx"); break;
	// 	case (ConversionType === "xls2xlsx"): OutputSel.options[OutputSel.options.length] = new Option('xlsx', 'xlsx'); $("#input").val("xls"); $("#output").val("xlsx"); break;
	// 	case (ConversionType === "json2csv"): OutputSel.options[OutputSel.options.length] = new Option('csv', 'csv'); $("#input").val("json"); $("#output").val("csv"); break;
	// 	case (ConversionType === "json2xlsx"): OutputSel.options[OutputSel.options.length] = new Option('xlsx', 'xlsx'); $("#input").val("json"); $("#output").val("xlsx"); break;
	// }
	// InputSel.onchange = function() {
	//     OutputSel.length = 1;
	// 		var y = InputObject[InputType];
	// 		for (var i = 0; i < y.length; i++) {
	// 			OutputSel.options[OutputSel.options.length] = new Option(y[i],y[i]);
	// 		}
	// 	}
  id_document.onchange = evt => {
    var file = document.getElementById('id_document');
    var filename = file.files[0].name;
    var type = filename.split('.').pop();
    OutputSel.length = 1;
		var y = InputObject[type];
		for (var i = 0; i < y.length; i++) {
			OutputSel.options[OutputSel.options.length] = new Option(y[i],y[i]);
		}

    // var InputType = image.value.split('.').pop();
    // document.write(type);

  };
	// OutputSel.onchange = function() {
	// 	switch (true) {
	// 		case (InputSel.value === 'csv') && (OutputSel.value === 'xlsx'): window.location="/tools/convert/csv2xlsx" break;
	// 		case (InputSel.value === 'csv') && (OutputSel.value === 'parquet'): window.location="/tools/convert/csv2parquet" break;
	// 		case (InputSel.value === 'parquet') && (OutputSel.value === 'csv'): window.location="/tools/convert/parquet2csv" break;
	// 		case (InputSel.value === 'xlsx') && (OutputSel.value === 'parquet'): window.location="/tools/convert/xlsx2parquet" break;
	// 		case (InputSel.value === 'txt') && (OutputSel.value === 'csv'): window.location="/tools/convert/txt2csv" break;
	// 		case (InputSel.value === 'txt') && (OutputSel.value === 'xlsx'): window.location="/tools/convert/txt2xlsx" break;
	// 		case (InputSel.value === 'xls') && (OutputSel.value === 'xlsx'): window.location="/tools/convert/xls2xlsx" break;
	// 		case (InputSel.value === 'json') && (OutputSel.value === 'csv'): window.location="/tools/convert/json2csv" break;
	// 		case (InputSel.value === 'json') && (OutputSel.value === 'xlsx'): window.location="/tools/convert/json2xlsx" break;
	// 	}
	// }
	// OutputSel.onchange = function() {
	// 	switch (InputSel.value) {
	// 		case 'csv':
	// 			switch(OutputSel.value){
	// 				case 'xlsx': window.location="/tools/convert/csv2xlsx";
	// 				break;
	// 				case 'parquet': window.location="/tools/convert/csv2parquet";
	// 				break;
	// 			}
	// 			break;
	// 		case 'parquet':
	// 			switch(OutputSel.value){
	// 				case 'csv': window.location="/tools/convert/parquet2csv";
	// 				break;
	// 			}
	// 			break;
	// 		case 'xlsx':
	// 			switch(OutputSel.value){
	// 				case 'parquet': window.location="/tools/convert/xlsx2parquet";
	// 				break;
	// 			}
	// 			break;
	// 		case 'txt':
	// 			switch(OutputSel.value){
	// 				case 'csv': window.location="/tools/convert/txt2csv";
	// 				break;
	// 				case 'xlsx': window.location="/tools/convert/txt2xlsx";
	// 				break;
	// 			}
	// 			break;
	// 		case 'xls':
	// 			switch(OutputSel.value){
	// 				case 'xlsx': window.location="/tools/convert/xls2xlsx";
	// 				break;
	// 			}
	// 			break;
	// 		case 'json':
	// 			switch(OutputSel.value){
	// 				case 'csv': window.location="/tools/convert/json2csv";
	// 				break;
	// 				case 'xlsx': window.location="/tools/convert/json2xlsx";
	// 				break;
	// 			}
	// 			break;
	// 	}
	// }
	// 	for (var x in InputObject){
	// 		switch(x)
	// 	{
	// 		case "csv":
	// 			switch (InputObject[this.value]){
	// 				case 'xlsx': window.location="/tools/convert/csv2xlsx"; break;
	// 				case 'parquet': window.location="/tools/convert/csv2parquet"; break;
	// 			}
	// 	break;
	// 		}
	// 	}
// <!-- }; -->

</script>

{% endblock %}
