{% extends "base.html" %}
{% block content %}
{% if convert_list or ocr_list %}
<div class="page-content-inner">
    <h1 class="page-title"> My Documents </h1>
    <br>
    <!-- <table style="float: left;" class="user-documents-table">
        <tr>
            <th><h5><strong>Uploaded</strong></h5></th>
        </tr>

{% for a, b in upload_list %}
    {% if a.is_uploaded %}
        <tr>
            <td><a href="{{a.document.url}}" download><p class="user-documents-file">{{ a.document }}</p></a></td>
        </tr>
    {% elif b.is_uploaded %}
      <tr>
          <td><a href="{{b.document.url}}" download><p class="user-documents-file">{{ b.document }}</p></a></td>
      </tr>
    {% else %}

    {% endif %}

{% endfor %}
</table> -->

<table width="100" border="1" style="float:left;" class="user-documents-table">
    <tr>
        <th><h5><strong>Converted</strong></h5></th>
    </tr>

{% for document in convert_list %}
<tr>
    <td><a href="{{document.document.url}}" download><p class="user-documents-file">{{ document.is_converted }} </p></a></td>
</tr>
{% endfor %}
</table>

<table class="user-documents-table">
    <tr>
        <th><h5><strong>OCR</strong></h5></th>
    </tr>

{% for document in ocr_list %}
<tr>
    <td><a href="{{document.document.url}}" download><p class="user-documents-file">{{ document.is_ocred }} </p></a></td>
</tr>
{% endfor %}
</table>

{% else %}
<div class="page-content-inner">
    <h3 class="page-title"> No documents uploaded </h3>
{% endif %}
<br><br>
<h5><a href="/">Return to home</a></h5>
</div>
{% endblock %}
