{% extends "base.html" %}

{% block content %}
<!-- TRYING TO CREATE A FILE UPLOAD FORM AND A FOLDER UPLOAD FORM -->
<div class= "page-content-inner">
<div class="col-md-4" style="float:left;">
  <div class="card w-30 h-10 mt-5 mr-2" style="background-color:rgb(227, 238, 253);">
    <div class="card-body w-30 h-30" style="background-color:rgb(191, 209, 236);">
      <h5 class="card-header" style="background-color:rgb(173, 194, 227);">
          <center><h2 class="house-title mt-3"><a href="convert">Convert</a></h2></center>
        </h5>
    </div>
  </div>
</div>
<div class="col-md-4"style="float:left;">
  <div class="card w-30 h-10 mt-5 mr-2" style="background-color:rgb(227, 238, 253);">
    <div class="card-body w-30 h-30" style="background-color:rgb(191, 209, 236);">
      <h5 class="card-header" style="background-color:rgb(173, 194, 227);">
          <center><h2 class="house-title mt-3"><a href="ocr">OCR</a></h2></center>
        </h5>
    </div>
  </div>
</div>
<!-- <div class="col-md-4" style="float:left;">
  <div class="card w-30 h-10 mt-5 mr-2" style="background-color:rgb(227, 238, 253);">
    <div class="card-body w-30 h-30" style="background-color:rgb(191, 209, 236);">
      <h5 class="card-header" style="background-color:rgb(173, 194, 227);">
          <center><h2 class="house-title mt-3"><a href="upload">Upload</a></h2></center>
        </h5>
    </div>
  </div>
</div> -->
</div>
{% endblock %}
