{% extends "base.html" %}

{% block content %}
<!-- TRYING TO CREATE A FILE UPLOAD FORM AND A FOLDER UPLOAD FORM -->
<div class="form-top">
    <h1>Upload File(s)</h1><br>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="file" multiple></p><br>
        <p><input type="submit" value="Upload Files"></p>
    </form>
</div>

<!--
<div class="upload-form-normal">
    <h1>Folder Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="file[]"  webkitdirectory multiple id="file" class="inputfolder"></p>
        <p><input type="submit" value="Upload Folder"></p>
    </form>
</div>
-->
<hr><br>
<div class="row">
    <div class="column">
        <h1>Uploaded Files</h1>

        <p style="color:black;font-weight:bold;">
            Files:<br>
            {% for file in files %}
            {{ file }}<br>
            {% endfor %}
        </p>
    </div>
    <div class="column">
        <h1>Download Files</h1>
        {% for file in files %}
        <a href="{{ url_for('download',filename= file ) }}">Download {{ file }}</a>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}
